body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 15px;
    flex-shrink:0;
    height: 5vh;
    padding-left:10vw;
    padding-right:10vw;
}

.logo, li {
    color: white;
}
ul{
    display: flex;
    gap: 15px;
}

li{
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    font-weight: normal;
}

.logo{
    font-size: 32px;
}

.sign_up_section{
    display: flex;
    justify-content: space-between;
    height: 22.5vh;
    background-color: #1F2937;
    padding-left:10vw;
    padding-right: 10vw;
}

.right_side{
    width: 40vw;
}
.left-_ide{
    width: 40vw;
}
.title {
    font-size: 48px;
    font-weight:bolder;
    color: white;
}

.top{
    height: 22.5vh;

}

.testimony{
    height: 22.5vh;
    background-color: #e5e7eb;
}
.call_to_action{
    height: 22.5vh;
    
}
.footer{
    height: 5vh;
}